<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de empleados</span>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button">Button</button>
      <button class="btn btn-primary" type="button">Button</button>
    </div>

    </div>
    
  </div>
  <table class="table table-striped">
  
  
  <thead>
    <tr>
      <th >Nombre</th>
      <th>Apellido</th>
      <th >Documento</th>
      <th >Salario</th>
      <th >vacio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alejandro</td>
      <td>Toro</td>
      <td>20114518</td>
      <td>25.000.00</td>
      <td>vacio</td>
      

    </tr>
    <tr>
    <td>Alejandro</td>
    <td>Toro</td>
    <td>20114518</td>
    <td>25.000.00</td>
    <td>vacio</td>
    
    </tr>
    <tr>
    <td>Alejandro</td>
    <td>Toro</td>
    <td>20114518</td>
    <td>25.000.00</td>
    <td>vacio</td>
    
  </tbody>
</table>
</div>